# Print
----

In [101]:
print("Hello World!") # for printing text

Hello World!

In [ ]:
# Triple quotes for multi-line strings

print("""This is a string
that spans multiple lines.""") # Triple quotes for multi-line strings

This is a string
that spans multiple lines.

# Comments
----

In [16]:
# Single line comment

'''This is a multi-line comment.
It can span multiple lines.'''

'This is a multi-line comment.\nIt can span multiple lines.'

# Escape sequences
----

In [ ]:
# Escape sequences: \n for new line, \t for tab, \', \" for avoid quotes, \b for backspace

sample_str = "Hello,\nWelcome to\t(\"Python programming\')!\b"

print(sample_str)

Hello,
Welcome to	("Python programming')

# Format
----

In [ ]:
# Formatting strings

print("my name is {0} and my age is {1} years old".format("adel", 20))

my name is adel and my age is 20 years old

In [ ]:
# f-strings (formatted string literals)

name = "adel"
age = 20

print(f"My name is {name} and my age is {age} years old")

My name is adel and my age is 20 years old

In [ ]:
# Task: Create an f-string that includes your name, age, and the course you are studying.

name = "Adel Tamer"
age = 20
course = "Microsoft Machine Learning"

print(f"my name is {name}, my age is {age} years old, and i'm studying {course}")

my name is Adel Tamer, my age is 20 years old, and i'm studying Microsoft Machine Learning

# Data types
----

In [ ]:
# One variable = one value

v = "Adel"
w = "20"
x = 20
y = 20.5
z = True # False

# type function to check the data type

print(type(v))
print(type(w))
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

## List
----

In [142]:
# one variable = multiple values (multiple assignment)

In [ ]:
# Data order, changeable, indexed, allows duplicate values, heterogeneous elements, defined by square brackets []

my_list = [1, 2, 3, 4, 5, 'a', True, "adel", 3] # like array in other programming languages

print(type(my_list)) # list type

my_list[0] = 10 # modifying element at index 0

print(my_list) # accessing elements
print(my_list[2:5])  # slicing from index 2 to 4, index 5 is excluded
print(my_list[-1]) # last element
print(my_list[-4:-1]) # slicing from the end, index -1 is excluded note: [-1 : -4] will give empty list
print(len(my_list)) # length of the list

<class 'list'>
[10, 2, 3, 4, 5, 'a', True, 'adel', 3]
[3, 4, 5]
3
['a', True, 'adel']
9

In [128]:
name = "adel" # Object must be iterable

list_name = list(name) # converting string to list
print(list_name)

['a', 'd', 'e', 'l']

## Tuple
----

In [ ]:
# Data order, unchangeable, indexed, allows duplicate values, heterogeneous elements, defined by parentheses ()

my_tuple = (1, 2, 3, 4, 5, 'a', True, "adel", 3) # like list but immutable

print(type(my_tuple)) # tuple type
print(my_tuple) # accessing elements
print(my_tuple[2:5])  # slicing from index 2 to 4, index 5 is excluded
print(my_tuple[-1]) # last element
print(my_tuple[-4:-1]) # slicing from the end, index -1 is excluded note: [-1 : -4] will give empty tuple
print(len(my_tuple)) # length of the tuple

<class 'tuple'>
(1, 2, 3, 4, 5, 'a', True, 'adel', 3)
(3, 4, 5)
3
('a', True, 'adel')
9

In [140]:
name = "adel" # Object must be iterable

tuple_name = tuple(name) # converting string to tuple
print(tuple_name)

('a', 'd', 'e', 'l')

## Set
----

In [ ]:
# Data unordered, unchangeable, no duplicate values, defined by curly braces {}

my_set = {1, 2, 3, 4, 5, 'a', True, "adel"} # like list but unordered and no duplicates

print(type(my_set)) # set type
print(my_set) # accessing elements (note: order may vary)
print(len(my_set)) # length of the set
# Note: Sets do not support indexing or slicing

<class 'set'>
{1, 2, 3, 4, 5, 'adel', 'a'}
7

In [ ]:
name = "Adel Tamer" # Object must be iterable

set_name = set(name) # converting string to set
print(set_name) # rerun to see different order -> not different each time

{'e', 'm', 'T', 'A', 'r', ' ', 'a', 'd', 'l'}

# String
----

In [ ]:
# Accessing characters in a string

name = "adel" # [0,1,2,3], [-4,-3,-2,-1]

name[0] # index starts at 0

'a'

In [ ]:
# string slicing

name[1:3] # index 3 is excluded

'de'

In [61]:
# indexing from the end
name[-1] # last character

'l'

In [ ]:
# slicing from the end

name[-3:-1] # index -1 is excluded

'de'

In [ ]:
# Functions to manipulate strings

sample_str = "hello World!"

print(sample_str.upper()) # to upper case
print(sample_str.lower()) # to lower case
print(sample_str.replace('o', '.')) # replace 'o' with '.'
print(sample_str.capitalize()) # capitalize first letter
print(sample_str.title()) # title case
print(sample_str.swapcase()) # swap case
print(sample_str.split('o')) # split by 'o'
print(sample_str.count('o')) # count occurrences of 'o'
print(sample_str.startswith('h')) # check if starts with 'h'
print(sample_str.endswith('!')) # check if ends with '!'
print(sample_str.find('W')) # find index of 'W'
print(len(sample_str)) # length of the string
print(sample_str.index('W')) # index of 'W'
print(sample_str.isalpha()) # check if all characters are alphabetic
print(sample_str.isdigit()) # check if all characters are digits
print(sample_str.strip('!')) # remove '!' from the end
print("  Hello World!  ".strip()) # remove leading and trailing whitespace
print("  Hello World!  ".lstrip()) # remove leading whitespace
print("  Hello World!  ".rstrip()) # remove trailing whitespace
print(sample_str.center(20, '-')) # center the string with '-' padding
print(sample_str.ljust(20, '-')) # left justify the string with '-' padding
print(sample_str.rjust(20, '-')) # right justify the string with '-' padding
print(sample_str.zfill(20)) # pad the string with leading zeros to a total length of 20

HELLO WORLD!
hello world!
hell. W.rld!
Hello world!
Hello World!
HELLO wORLD!
['hell', ' W', 'rld!']
2
True
True
6
12
6
False
False
hello World
Hello World!
Hello World!
  Hello World!
----hello World!----
hello World!--------
--------hello World!
00000000hello World!

In [ ]:
split_str = "This is a sample string"

print(split_str.split(' ')) # split by 'space'

response = ''.join(split_str)

print(response)

['This', 'is', 'a', 'sample', 'string']
This is a sample string

# Address
----

In [ ]:
# Memory addresses

x = 2
X = 2

print(id(x)) # memory address of x
print(hex(id(X))) # memory address of X in hexadecimal

140735415808968
0x7fff847773c8